<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        admin page
        <h2>Add Student</h2>
        <form action='/add'menthod="POST">
            <input type="text" name="username"  placeholder="username">
            <input type="text" name="name"      placeholder="full name"
            <input type="file" name="userimage"  >
        </form>
        <ul>
            <li><a href="/logout">logout</a></li>
        </ul>    
    </body>
</html>