<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <p>This the cards page</p>
        <% members.forEach(function(members){ %>
            <h3><%= members.username %></h3>
            <h3><%= members.name %></h3>
            <h3><%= members.github %></h3>
            <h3><%= members.location %> hhhh</h3>
        
       <% }); %>
    </body>
</html>