<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1> <%= result.name %> </h1>
        <h1><a href='https://github.com/<%= result.github %>'>github</a> </h1>
        <h1> <%= result.twitter %> </h1>   
        <h3> <%= result.badges %> </h3>     
    </body>
</html>